<!DOCTYPE html>
<html>
<head>
    <title>Productos en {{ category }}</title>
</head>
<body>
    <h1>Productos en {{ category }}</h1>

    <!-- Sección para los 5 productos más populares -->
    <h2>Top 5 Productos Populares</h2>
    <ul>
        {% for product in top_popular %}
            <li>
                <h2>{{ product.nombre }}</h2>
                <p>Precio: ${{ product.precio }}</p>
                <p>Descripción: {{ product.descripcion }}</p>
                <img src="{{ product.url_imagen }}" alt="{{ product.nombre }}" width="200">
                <p>Categoría: {{ product.categoria }}</p>
                <p>Likes: {{ product.me_gusta }}</p>
                <p>Recomendado para: {{ product.recomendado_para }}</p>
            </li>
        {% empty %}
            <p>No hay productos populares disponibles en esta categoría.</p>
        {% endfor %}
    </ul>

    <!-- Sección para productos más baratos -->
    <h2>Productos Más Baratos</h2>
    <ul>
        {% for product in cheapest %}
            <li>
                <h2>{{ product.nombre }}</h2>
                <p>Precio: ${{ product.precio }}</p>
                <p>Descripción: {{ product.descripcion }}</p>
                <img src="{{ product.url_imagen }}" alt="{{ product.nombre }}" width="200">
                <p>Categoría: {{ product.categoria }}</p>
                <p>Likes: {{ product.me_gusta }}</p>
                <p>Recomendado para: {{ product.recomendado_para }}</p>
            </li>
        {% empty %}
            <p>No hay productos baratos disponibles en esta categoría.</p>
        {% endfor %}
    </ul>

    <!-- Sección para los primeros 20 productos -->
    <h2>Lista de Productos (Primeros 20)</h2>
    <ul>
        {% for product in product_list %}
            <li>
                <h2>{{ product.nombre }}</h2>
                <p>Precio: ${{ product.precio }}</p>
                <p>Descripción: {{ product.descripcion }}</p>
                <img src="{{ product.url_imagen }}" alt="{{ product.nombre }}" width="200">
                <p>Categoría: {{ product.categoria }}</p>
                <p>Likes: {{ product.me_gusta }}</p>
                <p>Recomendado para: {{ product.recomendado_para }}</p>
            </li>
        {% empty %}
            <p>No hay productos disponibles en esta categoría.</p>
        {% endfor %}
    </ul>

    <a href="{% url 'products' %}">Volver a la visión general de productos</a>

</body>
</html>
